<h1>Kisses</h1> from <a href='http://maryrosecook.com'>maryrosecook</a><br/><br/>

<div class="homepage_intro">
	Compares the magnitude of stuff.  Like one <a href='/thing/guidedmissiledestroyer'>guided missile destroyer</a>
	costs as much as three million fluffy kittens.
</div><br/>

See some comparisons:
<% i = 0 %>
<% for collection in @collections %><%= ", " if i > 0%><a href='/collection/<%= collection.identifier%>'><%= collection.identifier %></a><% i += 1%><% end-%>.

<br/><br/>

The <a href='http://github.com/maryrosecook/kisses'>code</a> is open source.