<h1>Create a collection</h1>

<% form_tag do -%>
	Collection name (no spaces)<br/>
	<%= text_field :collection, :identifier, :class => "text_field" %><br/>
	<br/>
	<%= submit_tag "Create", :class => "submit_button" %> 
<% end %>